<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in System</title>
    style
        include ../static_files/style.css
</head>
<body>
    <div class="container">
        <h1 id="heading">Enter your Username and password to log in</h1>
        <form action="/" method="POST" id="mainform" class="formit">
            <input type="text" name="username" id="username" placeholder="Enter your username">
            <input type="password" name="password" id="password" placeholder="Enter your passowrd">
            <button id="login" class="btn">Log in</button>
        </form>
        <p>#{warning}</p>
    </div>
</body>
</html>